@mixin h1{
    font-size: 64px;
    font-weight: 400;
}
@mixin h2{
    font-size: 40px;
    font-weight: 400;
}
@mixin h3{
    font-size: 32px;
}
@mixin body{
    font-size: 18px;
    line-height: 25px
}
@mixin label{
    font-size: 14px;
    line-height: 20px

}
@mixin according-title{
    font-size: 48px;
}


$black-100:#212529;
$black-85:#424649;
$dark-gray:#A6A6AB;
$light-gray:#F4F4F4;
$white:#FFFFFF;

